{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier",
    "stylelint-config-sass-guidelines",
    "stylelint-config-rational-order"
  ],
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "order/properties-alphabetical-order": null,
    "max-nesting-depth": null,
    "selector-max-compound-selectors": null
  }
}
