@import 'global.css/mixin.scss';

$sizes: ('sm', 'md');
$states: ('Won', 'Lost', 'CXL', 'Unsettled', 'Returned', 'Draw', 'Live');

$height: (
  sm: 16px,
  md: 20px,
);

$font-size: (
  sm: 12px,
  md: 14px,
);

@function calculatePadding($height) {
  @return $height / 2;
}

@each $size in $sizes {
  .#{$size} {
    padding: 0px calculatePadding(map-get($height, $size));
    > span {
      height: map-get($height, $size);
      line-height: map-get($height, $size);
      font-size: map-get($font-size, $size);
    }
  }
}

@each $state in $states {
  .#{$state} {
    background: map-get($game-status-color, $state);
    border: thin darken(map-get($game-status-color, $state), 10%) solid;
  }
}

.container {
  display: inline-block;
  transform: skew(-20deg);
  > span {
    display: block;
    color: $word-color;
    transform: skew(20deg);
    text-transform: uppercase;
    text-align: center;
  }
}
