.mask {
  transition: opacity .3s ease-in-out;
  width: 100%;
  height: 100%;
  background: rgba(18, 27, 59, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}
