@import 'global.css/mixin.scss';

.container {
  width: 100%;
}

.section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  > span {
    font-size: 14px;
    color: $primary-color-darken;
  }
}

.label {
  color: $disable-color;
  margin-right: 5px;
}