@import 'global.css/mixin.scss';

.container {
  position: relative;
  width: auto;
  // width: 100px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding-left: 15px;
  padding-right: 20px;
  &::before {
    content: '';
    width: 3%;
    height: 100%;
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg);
    background: $disable-color;
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: -6%;
  }
}

.background {
  width: 97%;
  height: 100%;
  transform: skew(-20deg);
  background: $disable-color;
  position: absolute;
  top: 0px;
  left: 0px;
}

.content {
  color: $word-color;
  font-size: 14px;
  top: 0px;
  left: 0px;
  z-index: 1;
  position: relative;
  text-transform: uppercase;
}

.tag {
  &::before {
    background: $primary-color-darken;
  }
  > .background {
    background: $primary-color-darken;
  }
  cursor: none;
  pointer-events: none;
}

.active {
  &::before {
    background: $primary-color-darken;
  }
  > .background {
    background: $primary-color-darken;
  }
}
